

.App {
  text-align: center;
}

body{
  background-color: #f3f3f3;
}

.home {
  background: aliceblue;
}

.board-container {
  background: blue;
}

.todo-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  overflow-y: auto;
  scroll-behavior: smooth;

  height: 75vh;


  width: 100%;
  max-width: 700px;

  border-right: 1px solid black;

  background-color: #f3f3f3;

  padding: 15px;
}

.completed-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  overflow-y: auto;
  scroll-behavior: smooth;

  height: 75vh;


  width: 100%;
  max-width: 700px;

  border-right: 1px solid black;

  background-color: aliceblue;

  padding: 15px;

}



.note {
  cursor: pointer;

  background: yellow;
  padding: 25px;

  height: 200px;
  width: 200px;

  margin: 15px;
}