@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
  font-family: 'Mulish', sans-serif;
}

.App {
  text-align: center;
  height: 100vh;
}
/* 
body{
  background-color: red;
} */

.home {
  /* background: #ECE0D1;
  height: 100vh;
  padding-top: 3em; */

  background-image: url(./images/wood.jpg);
  background-color: #ece0d1b6;
  background-blend-mode: screen;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */

  /* position:absolute; */
  top:10px;
  margin: 0;

  min-height: 100vh;
  min-width: 1024px;

  width: 100%;
  height: auto;
  padding-top: 5em;
}

.todo-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  overflow-y: auto;
  scroll-behavior: smooth;

  height: 75vh;


  width: 100%;
  max-width: 700px;

  /* border-right: 1px solid rgb(92, 92, 92); */
  border-radius: 5px 0 0 5px;

  color: #090804;
  background-color: #96725956;

  padding: 15px;
}

.completed-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  overflow-y: auto;
  scroll-behavior: smooth;

  height: 75vh;


  width: 100%;
  max-width: 700px;

  /* border-right: 1px solid rgb(92, 92, 92); */
   border-radius: 0 5px 5px 0;

  color: #090804;
  background-color: #63483252;

  padding: 15px;

}

.navbar {
  background: none;
  width: 100vw;

  display: flex;
  justify-content: space-between;
}

.about {
  background-image: url(./images/cafe.jpg);
  background-color: #ece0d180;
  background-blend-mode: screen;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  position:absolute;
  /* top:10px; */
  margin: 0;

  min-height: 100vh;
  min-width: 1024px;

  width: 100%;
  height: 100vh;
}

.about-header {
  color: #090804;
  padding-top: 1em;
  font-size: 100px;
  font-weight: bolder;
}
.about-button-container {
  display: flex;
  justify-content: space-around;
  align-items:center;

  height: 67vh;

  margin-left: 10%;
  margin-right: 10%;
  /* margin-bottom: 3.5%; */
}


.about-icon-text {
  font-weight: bold;
}

.about-icon-website:hover {
  cursor: pointer;
  border-bottom: 5px solid #090804;
}

.about-icon-creator:hover {
  cursor: pointer;
  border-bottom: 5px solid #090804;
}

.about-icon-coming-soon:hover {
  cursor: pointer;
  border-bottom: 5px solid #090804;
}

.about-website {
  background: #090804;
  height: 100vh;
}

.about-website-header {
  color: white;
  padding: 1em;
  font-weight: bold;
}

.about-website-text-container {
  padding: 1em;
  margin-left: 25%;
  margin-right: 25%;
}

.about-website-text {
  color: white;
}

.about-creator {
  background-image: url(./images/begin.jpg);
  background-color: #ece0d180;
  background-blend-mode: screen;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  /* position:absolute; */
  /* top:10px; */
  margin: 0;

  min-height: 100vh;
  min-width: 1024px;

  width: 100%;
  height: auto;
}

.about-creator-header{
  color: #090804;
  padding: 1em;
  font-weight: bold;
}

.about-creator-content {
  display: flex;
  justify-content: space-around;

}

.about-creator-text {
  margin: 1em;
  font-weight: bold;
}

.about-creator-link {
  color: #09080483;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
}

.about-creator-link:hover {
  color: #090804;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

.about-coming-soon {
  background-image: url(./images/grinds.jpg);
  background-color: #ece0d180;
  background-blend-mode: screen;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */

  /* position:absolute; */
  /* top:10px; */
  margin: 0;

  min-height: 100vh;
  min-width: 1024px;

  width: 100%;
  height: auto;

  border-top: 1px solid rgba(0, 0, 0, 0.425);
}

.about-coming-soon-header {
  color: #090804;
  padding: 1em;
  font-weight: bold;
}

.login-register {
  background-image: url(./images/coffee.jpg);
  background-color: grey;
  background-blend-mode: normal;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */

  /* position:absolute; */
  top:10px;
  margin: 0;

  min-height: 100vh;
  min-width: 1024px;

  width: 100%;
  height: auto;
}

.login-register-title {
  color: white;
  font-weight: bolder;
  font-size: 5.2em;
}

.login-register-form-title {
  color: white;
}

.login-register-form-group {
  margin-top: 1em;
}

.note {
  display:flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;

  background: #ece0d1;
  padding: 25px;

  height: 200px;
  width: 200px;

  margin: 15px;

  box-shadow: 2px 2px #38220f34;
  border-radius: 0px;
}

.note:hover {
  display:flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;

  background: #ece0d1c4;
  padding: 25px;

  height: 200px;
  width: 200px;

  margin: 15px;

  box-shadow: 2px 2px #38220f54;
  border-radius: 0px;
}

.delete-note {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.note-view-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.modal-header {
  background: #ece0d1;
}

.modal-body {
  background: #ece0d1;
}

.modal-button {
  background: #ece0d1;
}

.todo-list-container {
  height: 85vh;

  overflow-y: scroll;
}

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-left: 3em;
  color: #090804;

}

.todo-list-default-text {
  padding-top: 6em;
  color: #09080442;
}

.todo-list-completed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-left: 3em;
  margin-top: 1em;

  color: #0908047e;
}

.todo-item-container {
  height: 30px;
  display: flex;
  margin: 1em;
  /* overflow: hidden; */
  justify-content: space-between;
}

.todo-check {
  margin-right: 1em;
  cursor: pointer;

  color: #090804;
}

.todo-check:hover {
  margin-right: 1em;
  background: #0908044b;
  border-radius: 3px;
}

.todo-check-completed {
  margin-right: 1em;
  cursor: pointer;

  background: #0908041f;
}

.todo-check-completed:hover {
  margin-right: 1em;
  cursor: pointer;

  background: #09080400;
}


.todo-item {
  text-align: left;
  cursor: pointer;
}

.todo-item-trash-container {
  display: flex;
}

.todo-item-trash {
  margin-left: 1em;
  cursor: pointer;
  color: #090804;
}

.todo-item-trash:hover {
  margin-left: 1em;
  cursor: pointer;

  color: white;
}

.todo-list-title {
  display: flex;
  flex-direction: row;
}

.create-todo-form {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* background: red; */
  width: 200%;
}

.edit-item-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 250%;
}

.edit-item-input-x {
  margin-left: -8px;
  margin-top: -7px;

  color: #090804;
  background: white;
  border-radius: 100%;

  cursor: pointer;
}