@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
  font-family: 'Mulish', sans-serif;
}

.App {
  text-align: center;
  height: 100vh;
}

body{
  background-color: #628EAC;
}

.home {
  background: #628fac8c;
  height: 100vh;
  padding-top: 3em;
}

.board-container {
  background: blue;
}

.todo-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  overflow-y: auto;
  scroll-behavior: smooth;

  height: 75vh;


  width: 100%;
  max-width: 700px;

  /* border-right: 1px solid rgb(92, 92, 92); */
  border-radius: 5px 0 0 5px;

  background-color: #628fac8c;

  padding: 15px;
}

.completed-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  overflow-y: auto;
  scroll-behavior: smooth;

  height: 75vh;


  width: 100%;
  max-width: 700px;

  /* border-right: 1px solid rgb(92, 92, 92); */
   border-radius: 0 5px 5px 0;


  background-color: #628EAC;

  padding: 15px;

}

.navbar {
  background: #090804;
}


.login-register {
  background-image: url(./images/coffee.jpg);
  background-color: grey;
  background-blend-mode: normal;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */

  /* position:absolute; */
  top:10px;
  margin: 0;

  min-height: 100vh;
  min-width: 1024px;

  width: 100%;
  height: auto;
}

.login-register-title {
  color: white;
  font-weight: bolder;
  font-size: 4em;
}

.login-register-form-title {
  color: white;
}

.login-register-form-group {
  margin-top: 1em;
}

.note {
  display:flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;

  background: #FFF9BD;
  padding: 25px;

  height: 200px;
  width: 200px;

  margin: 15px;

  box-shadow: 2px 2px rgb(204, 204, 204);
  border-radius: 5px;
}

.delete-note {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.note-view-edit {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.modal-header {
  background: #FFF9BD;
}

.modal-body {
  background: #FFF9BD;
}

.modal-button {
  background: #FFF9BD;
}

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.todo-list-completed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  color: grey;
}

.todo-item-container {
  height: 30px;
  display: flex;
  margin: 1em;
  /* overflow: hidden; */
  justify-content: space-between;
}

.todo-check {
  margin-right: 1em;
  cursor: pointer;
}

.todo-check:hover {
  margin-right: 1em;
  background: gray;
  border-radius: 3px;
}

.todo-check-completed {
  margin-right: 1em;
  cursor: pointer;

  background: lightgrey;
}


.todo-item {
  text-align: left;
  cursor: pointer;
}

.todo-item-trash {
  margin-left: 1em;
  cursor: pointer;
}

.todo-item-trash:hover {
  margin-left: 1em;
  cursor: pointer;

  color: white;
}

.todo-list-title {
  display: flex;
  flex-direction: row;
}

.create-todo-form {
  margin: 1em;
  display: flex;
  flex-direction: row;
}

.edit-item-input {
  display: flex;
}

.edit-item-input-x {
  margin-left: -8px;
  margin-top: -7px;

  background: white;
  border-radius: 100%;

  cursor: pointer;
}